.number-update-enter {
  opacity: 1;
  font-weight: bold;
  text-shadow: yellow 1px 0 10px;
}
.number-update-enter-active {
  opacity: 0;
  transform: scale(2);
  transition: all var(--number-animation-duration);
}
.number-update-exit {
  opacity: 0;
}
.number-update-exit-active {
  opacity: 1;
  transition: all 0ms;
}
